<% provide(:title, "Contact Us") %>
<% provide(:desc, "Contact us here at Camping Price Search") %>

<div class="span12">
  <h1>Contact Camping Price Search</h1>
  <p class="static-content">Contacting us is simple. Just send an email to <b>admin [at] campingpricesearch [dot] com</b> and we will get right back to you as soon as possible.</p>
</div>
