<% provide(:title, "Privacy Policy") %>
<% provide(:desc, "The privacy policy for Camping Price Search") %>

<div class="span12">
  <h1>Privacy Policy for Camping Price Search</h1>
  <p class="static-content">We promise not to share any of the personal information you give us when you create an account with anyone else.</p>
  <p class="static-content">Also, if you ever want to delete any of the alerts you create on the site, or delete your entire account, you are free to do that at any time. We wont keep any of your information, and you'll never hear from us again.</p>
</div>
